<template>
	<require from="components/ingredients-list.css"></require>
	<require from="resources/value-converters/object-keys-value-converter"></require>
	<!-- <require from="resources/value-converters/object-values-value-converter"></require> -->
	<ul class="ingredients-list">
		<li repeat.for="ingredient of ingredients">
			<button-group>
				<button click.trigger="likeIngredient(ingredient)">&check;</button>
				${ingredient.name}|${ingredient.pref}
				<button click.trigger="dislikeIngredient(ingredient)">&times;</button>
			</button-group>
		</li>
	</ul>
</template>
