/*------------------------------------*\
  #INGREDIENTS-LIST
\*------------------------------------*/


/**
 * Comment
 */

.ingredients-list {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
}

.ingredients-list__type-item {
  margin: 20px 0;
  font-size: 18px;
  text-transform: capitalize;
  text-align: right;
}
