/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

body,
html {
    font-family: 'trebuchet MS', sans-serif;
    line-height: 1.2;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
}

header,
footer {
    flex: 0 0 50px;
    padding: 0 40px;
}

h1 {
    font-size: 36px;
}

h2 {
    margin: 20px 0;
    font-size: 28px;
}


/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

.row {
    display: flex;
}

.row__header {
    text-align: right;
}

.row__column {
    flex: 1 1 auto;
    overflow-y: auto;
}

.row__column:first-child {
    padding-left: 40px;
}
.row__column:last-child {
    padding-right: 40px;
}

.row__column--2col {
    flex: 1 1 50%;
}
