<template>
	<require from="components/pizza-list.css"></require>
	<require from="resources/value-converters/sort-value-converter"></require>
	<ul class="pizza-list" if.bind="showList">
		<li class="pizza-list__item" repeat.for="pizza of pizzas | sort: { propertyName: 'sortingWeight', direction: 'descending', propertyName2 : 'nummer', direction2: 'ascending' }">
			<h4><span class="pizza-list__item__number">${pizza.nummer}</span><span class="pizza-list__item__title">${pizza.naam}</span></h4>
			<p class="pizza-list__item__ingredients">${pizza.ingredienten}</p>
		</li>
	</ul>
</template>
